$primary: #839788;
$secondary: #081c15;
$white:#F7F8F9;
$primary-light:#83978833;
$primary-ex-light:#8397881a;

$color-1:#2f6690;
$color-2:#d9dcd6;
$color-3:#293241;
$reviews-bg:#b5d1c5;

$btn:#001f54;
 
$treatmentcardbg:#495867;
// dashboardcolor//////////////////////
$color-highlight: #dad2b9;
$nav-link-hover-color: #a63c06;
$colorwhite:#d6ce93;
$dark :#3e5c76;
$sliderbg :#0d324d;
$nav-link-hover-color:#7c6a0a;